* {
    
}
header, nav, footer {
    padding: 20px 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
    background: #777;
    margin: auto;
    text-align: center;
    padding: 0;
}

#top {
    background-color: #ebebeb;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #ebebeb;
    text-align: center;
    width:  100%;
}



section {
    background-color: #ebebeb;
    width: 495px;
    float: left;
    margin-top: 20px;
    padding: 20px;
}



article { 
    color: #ebebeb;
    background: #777;
    height: 200px;
    margin-top: 20px;
    padding: 20px;
}

p, h2 {
    background: #ebebeb;
    color: #777;
}

p {
    padding: 22px;
}

h2{
    padding: 20px;
}

aside {
    background-color: #ebebeb;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 385px;
    height: 320px;
    padding-right: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
  
}

footer {
    clear: both;
    background-color: #ebebeb;
    margin-top: 100px;
    display: block;
    width: 100%;
}
